* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  background-image: url(./img/sayı1.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-size: cover; */
  background-attachment: fixed;
  /* text-align: center; */
}

.container {
  padding-top: 50px;
  color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.input {
  width: 250px;
  height: 25px;
  margin-top: 15px;
}

button {
  height: 30px;
}

#message {
  font-size: 35px;
  font-weight: bold;
}

.firstt, .lastt {
  font-size: 25px;
  font-weight: bold;
}


